<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- CSS Section -->
 <link rel="stylesheet" href="" />
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />

</head>
<body>
    <h1> Complete the rest of the fields: </h1>
    <div class="panel-body">
			<form accept-charset="UTF-8" role="form">
            <fieldset>
			<div class="form-group">
            <div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">STUDENT INFORMATION</h3></div>
                 <div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
    <label for="exampleFormControlInput1">Course code: </label>
    <input class="form-control" input type="text" >
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Course Name: </label>
    <input class="form-control" input type="text">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Student email:</label>
    <input type="text" name="username" value="<%= username %>">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your comments:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
  </div><br>
  <input class="btn btn-lg btn-success btn-block" input type="submit" value="Submit" name="submit">
</form>

<!-- JavaScript Section -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
